*.xml
*.iml
*.DS_Store
access_key.txt
access_secret.txt
consumer_key.txt
consumer_secret.txt
venv
496/scrapy.exe
496/newscrawler/newscrawler/SQL_Login.yml
__pycache__
*.pyc
*.csv
keys.csv
twitter_keys.yaml
496/newscrawler/newscrawler/SQL_Login.yml
__pycache__