pandas          # data wrangling
numpy           # numpy
searchtweets    # python wrapper for twitter api
textblob        # NLP
scipy           # scientific python
scrapy          # newscrawler classes
pymysql         # used to talk to MySQL data bases
newspaper       # used to parse newspaper articles
PyYaml          # unpack yaml files