pandas          # data wrangling
numpy           # numpy
searchtweets    # python wrapper for twitter api
textblob        # NLP
scipy           # scientific python
scrapy          # newscrawler classes